/* cssの初期化 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* canvas1だけしているcss */
#canvas1{
    border: 5px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #4dbc65;

    /* canvas1の画像比率の縮尺を固定 */
    max-width: 100%;
    max-height: 100%;
}
.outer{
    position: relative;
}

.inner{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    width: 60%;
    height: 0 rem;
  }

/* htmlで表示されるpngを表示させない */
#power {
    display: none;
}